# Assignment 3: Data Munging

# CS-6010

# Submitted By : Sameer Khan

# Exercise 01: United States - Crime Rates - 1960-2014

### Introduction:

This time you will explore the crime rates in the US during 1960-2014. 

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

### Step 3. Assign it to a DataFrame variable called crime.

In [2]:
url = "https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv"
crime = pd.read_csv(url)
crime

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
5,1965,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
6,1966,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
7,1967,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
8,1968,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
9,1969,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
10,1970,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
11,1971,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
12,1972,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
13,1973,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
14,1974,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
15,1975,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
16,1976,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
17,1977,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
18,1978,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
19,1979,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
20,1980,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
21,1981,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
22,1982,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
23,1983,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
24,1984,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
25,1985,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
26,1986,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
27,1987,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
28,1988,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
29,1989,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
30,1990,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
31,1991,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
32,1992,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
33,1993,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
34,1994,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
35,1995,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
36,1996,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
37,1997,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
38,1998,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
39,1999,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
40,2000,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
41,2001,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
42,2002,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
43,2003,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
44,2004,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
45,2005,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
46,2006,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
47,2007,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
48,2008,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
49,2009,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
50,2010,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
51,2011,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
52,2012,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
53,2013,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
54,2014,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

### Step 4. What is the type of the columns?

In [3]:
print(crime.dtypes)

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [4]:
crime['Year'] = pd.to_datetime(crime['Year'], format='%Y')
print(crime.dtypes)

Year                  datetime64[ns]
Population                     int64
Total                          int64
Violent                        int64
Property                       int64
Murder                         int64
Forcible_Rape                  int64
Robbery                        int64
Aggravated_assault             int64
Burglary                       int64
Larceny_Theft                  int64
Vehicle_Theft                  int64
dtype: object

### Step 6. Set the Year column as the index of the dataframe (you may want to use set_index())

In [5]:
crime.set_index('Year', inplace=True)
# Display the DataFrame after setting 'Year' as the index
crime

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960-01-01,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965-01-01,193526000,4739400,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966-01-01,195576000,5223500,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967-01-01,197457000,5903400,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968-01-01,199399000,6720200,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1969-01-01,201385000,7410900,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
1970-01-01,203235298,8098000,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
1971-01-01,206212000,8588200,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
1972-01-01,208230000,8248800,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
1973-01-01,209851000,8718100,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
1974-01-01,211392000,10253400,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
1975-01-01,213124000,11292400,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
1976-01-01,214659000,11349700,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
1977-01-01,216332000,10984500,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
1978-01-01,218059000,11209000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
1979-01-01,220099000,12249500,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
1980-01-01,225349264,13408300,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
1981-01-01,229146000,13423800,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
1982-01-01,231534000,12974400,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
1983-01-01,233981000,12108600,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
1984-01-01,236158000,11881800,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
1985-01-01,238740000,12431400,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
1986-01-01,240132887,13211869,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
1987-01-01,242282918,13508700,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
1988-01-01,245807000,13923100,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
1989-01-01,248239000,14251400,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
1990-01-01,248709873,14475600,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1991-01-01,252177000,14872900,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
1992-01-01,255082000,14438200,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
1993-01-01,257908000,14144800,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
1994-01-01,260341000,13989500,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
1995-01-01,262755000,13862700,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
1996-01-01,265228572,13493863,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
1997-01-01,267637000,13194571,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
1998-01-01,270296000,12475634,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
1999-01-01,272690813,11634378,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
2000-01-01,281421906,11608072,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
2001-01-01,285317559,11876669,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2002-01-01,287973924,11878954,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
2003-01-01,290690788,11826538,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
2004-01-01,293656842,11679474,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
2005-01-01,296507061,11565499,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
2006-01-01,299398484,11401511,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
2007-01-01,301621157,11251828,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
2008-01-01,304374846,11160543,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
2009-01-01,307006550,10762956,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
2010-01-01,309330219,10363873,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
2011-01-01,311587816,10258774,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
2012-01-01,313873685,10219059,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
2013-01-01,316497531,9850445,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
2014-01-01,318857056,9475816,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

### Step 7. Delete the Total column

In [6]:
crime.drop(columns=['Total'], inplace=True)
# Total column is Dropped
crime

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960-01-01,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961-01-01,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962-01-01,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963-01-01,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964-01-01,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800
1965-01-01,193526000,387390,4352000,9960,23410,138690,215330,1282500,2572600,496900
1966-01-01,195576000,430180,4793300,11040,25820,157990,235330,1410100,2822000,561200
1967-01-01,197457000,499930,5403500,12240,27620,202910,257160,1632100,3111600,659800
1968-01-01,199399000,595010,6125200,13800,31670,262840,286700,1858900,3482700,783600
1969-01-01,201385000,661870,6749000,14760,37170,298850,311090,1981900,3888600,878500
1970-01-01,203235298,738820,7359200,16000,37990,349860,334970,2205000,4225800,928400
1971-01-01,206212000,816500,7771700,17780,42260,387700,368760,2399300,4424200,948200
1972-01-01,208230000,834900,7413900,18670,46850,376290,393090,2375500,4151200,887200
1973-01-01,209851000,875910,7842200,19640,51400,384220,420650,2565500,4347900,928800
1974-01-01,211392000,974720,9278700,20710,55400,442400,456210,3039200,5262500,977100
1975-01-01,213124000,1039710,10252700,20510,56090,470500,492620,3265300,5977700,1009600
1976-01-01,214659000,1004210,10345500,18780,57080,427810,500530,3108700,6270800,966000
1977-01-01,216332000,1029580,9955000,19120,63500,412610,534350,3071500,5905700,977700
1978-01-01,218059000,1085550,10123400,19560,67610,426930,571460,3128300,5991000,1004100
1979-01-01,220099000,1208030,11041500,21460,76390,480700,629480,3327700,6601000,1112800
1980-01-01,225349264,1344520,12063700,23040,82990,565840,672650,3795200,7136900,1131700
1981-01-01,229146000,1361820,12061900,22520,82500,592910,663900,3779700,7194400,1087800
1982-01-01,231534000,1322390,11652000,21010,78770,553130,669480,3447100,7142500,1062400
1983-01-01,233981000,1258090,10850500,19310,78920,506570,653290,3129900,6712800,1007900
1984-01-01,236158000,1273280,10608500,18690,84230,485010,685350,2984400,6591900,1032200
1985-01-01,238740000,1328800,11102600,18980,88670,497870,723250,3073300,6926400,1102900
1986-01-01,240132887,1489169,11722700,20613,91459,542775,834322,3241410,7257153,1224137
1987-01-01,242282918,1483999,12024700,20096,91110,517704,855088,3236184,7499900,1288674
1988-01-01,245807000,1566220,12356900,20680,92490,542970,910090,3218100,7705900,1432900
1989-01-01,248239000,1646040,12605400,21500,94500,578330,951710,3168200,7872400,1564800
1990-01-01,248709873,1820130,12655500,23440,102560,639270,1054860,3073900,7945700,1635900
1991-01-01,252177000,1911770,12961100,24700,106590,687730,1092740,3157200,8142200,1661700
1992-01-01,255082000,1932270,12505900,23760,109060,672480,1126970,2979900,7915200,1610800
1993-01-01,257908000,1926020,12218800,24530,106010,659870,1135610,2834800,7820900,1563100
1994-01-01,260341000,1857670,12131900,23330,102220,618950,1113180,2712800,7879800,1539300
1995-01-01,262755000,1798790,12063900,21610,97470,580510,1099210,2593800,7997700,1472400
1996-01-01,265228572,1688540,11805300,19650,96250,535590,1037050,2506400,7904700,1394200
1997-01-01,267637000,1634770,11558175,18208,96153,498534,1023201,2460526,7743760,1354189
1998-01-01,270296000,1531044,10944590,16914,93103,446625,974402,2329950,7373886,1240754
1999-01-01,272690813,1426044,10208334,15522,89411,409371,911740,2100739,6955520,1152075
2000-01-01,281421906,1425486,10182586,15586,90178,408016,911706,2050992,6971590,1160002
2001-01-01,285317559,1439480,10437480,16037,90863,423557,909023,2116531,7092267,1228391
2002-01-01,287973924,1423677,10455277,16229,95235,420806,891407,2151252,7057370,1246646
2003-01-01,290690788,1383676,10442862,16528,93883,414235,859030,2154834,7026802,1261226
2004-01-01,293656842,1360088,10319386,16148,95089,401470,847381,2144446,6937089,1237851
2005-01-01,296507061,1390745,10174754,16740,94347,417438,862220,2155448,6783447,1235859
2006-01-01,299398484,1418043,9983568,17030,92757,447403,860853,2183746,6607013,1192809
2007-01-01,301621157,1408337,9843481,16929,90427,445125,855856,2176140,6568572,1095769
2008-01-01,304374846,1392628,9767915,16442,90479,443574,842134,2228474,6588046,958629
2009-01-01,307006550,1325896,9337060,15399,89241,408742,812514,2203313,6338095,795652
2010-01-01,309330219,1251248,9112625,14772,85593,369089,781844,2168457,6204601,739565
2011-01-01,311587816,1206031,9052743,14661,84175,354772,752423,2185140,6151095,716508
2012-01-01,313873685,1217067,9001992,14866,85141,355051,762009,2109932,6168874,723186
2013-01-01,316497531,1199684,8650761,14319,82109,345095,726575,1931835,6018632,700294
2014-01-01,318857056,1197987,8277829,14249,84041,325802,741291,1729806,5858496,689527

### Step 8. Group the year by decades and sum the values
#### Hint: 
#### To get the decade, you can integer-divide the year by 10 and then multiply by 10. You can use '//' for floor division. 
#### Pay attention to the Population column number, summing this column is a mistake

In [7]:
crime_decades = crime.groupby((crime.index.year//10)*10).sum()
# Data grouped by decades and summed up
crime_decades

,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,
1960,1915053175,4134930,45160900,106180,236720,1633510,2158520,13321100,26547700,5292100
1970,2121193298,9607930,91383800,192230,554570,4159020,4702120,28486000,53157800,9739900
1980,2371370069,14074328,117048900,206439,865639,5383109,7619130,33073494,72040253,11935411
1990,2612825258,17527048,119053499,211664,998827,5748930,10568963,26750015,77679366,14624418
2000,2947969117,13968056,100944369,163068,922499,4230366,8652124,21565176,67970291,11412834
2010,1570146307,6072017,44095950,72867,421059,1749809,3764142,10125170,30401698,3569080

### Step 9. What is the most dangerous decade to live in the US?

In [8]:
most_dangerous_decade = crime_decades.idxmax()['Violent']
print(f"The most dangerous decade in the US for violent crimes was in the {most_dangerous_decade}s.")

The most dangerous decade in the US for violent crimes was in the 1990s.

# Exercise 02: Drinks

### Step 1. Import the necessary libraries

In [9]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a DataFrame variable called drinks.

In [10]:
url = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
drinks = pd.read_csv(url)
drinks

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF
...,...,...,...,...,...,...
188,Venezuela,333,100,3,7.7,SA
189,Vietnam,111,2,1,2.0,AS
190,Yemen,6,0,0,0.1,AS
191,Zambia,32,19,4,2.5,AF
192,Zimbabwe,64,18,4,4.7,AF

### Step 4. Which continent drinks more beer on average?

In [11]:
beer_avg = drinks.groupby('continent')['beer_servings'].mean().idxmax()
print(f"The continent that drinks the most beer on average is {beer_avg}.")

The continent that drinks the most beer on average is EU.

### Step 5. For each continent print the statistics for wine consumption.

In [12]:
wine_stats = drinks.groupby('continent')['wine_servings'].describe()
wine_stats

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

### Step 6. Print the mean alcohol consumption per continent for every column

In [13]:
alcohol_mean = drinks.groupby('continent').mean()
alcohol_mean

C:\Users\Samee\AppData\Local\Temp\ipykernel_35084\3702905258.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  alcohol_mean = drinks.groupby('continent').mean()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,61.471698,16.339623,16.264151,3.007547
AS,37.045455,60.840909,9.068182,2.170455
EU,193.777778,132.555556,142.222222,8.617778
OC,89.687500,58.437500,35.625000,3.381250
SA,175.083333,114.750000,62.416667,6.308333

### Step 7. Print the median alcohol consumption per continent for every column

In [14]:
alcohol_median = drinks.groupby('continent').median()
alcohol_median

C:\Users\Samee\AppData\Local\Temp\ipykernel_35084\1632016516.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  alcohol_median = drinks.groupby('continent').median()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
continent,,,,
AF,32.0,3.0,2.0,2.30
AS,17.5,16.0,1.0,1.20
EU,219.0,122.0,128.0,10.00
OC,52.5,37.0,8.5,1.75
SA,162.5,108.5,12.0,6.85

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [15]:
spirit_stats = drinks.groupby('continent')['spirit_servings'].agg(['mean', 'min', 'max']).reset_index()
spirit_stats

  continent        mean  min  max
0        AF   16.339623    0  152
1        AS   60.840909    0  326
2        EU  132.555556    0  373
3        OC   58.437500    0  254
4        SA  114.750000   25  302

## Step 6 and 7 shows the warning message that is informing about a future change in pandas behavior, but it shouldn't affect the current code's functionality.

## To ignore this warning we can do some changes:
### import warnings

## Suppress FutureWarning
### warnings.simplefilter(action='ignore', category=FutureWarning)

# Submitted By :- Sameer Khan